streamlit
requests
beautifulsoup4
langchain
langchain-google-genai
langchain.prompts
ChatGoogleGenerativeAI
PromptTemplate
textstat
spacy
urllib.parse
logging
os
Counter
Collections
dotenv
load_dotenv



